<strong>Olá, {{name}}</strong>
<br />
<p>Você tem uma ação em atraso: </p>
<p>
    <strong>Setor: </strong> {{setor}} <br /> <br />
    <strong>Maquina: </strong> {{maquina}}<br /> <br />
    <strong>Problema: </strong> {{problema}} <br /> <br />
    <strong>Prazo: </strong> {{prazo}} <br /> <br />
</p>